# Modelagem preditiva
_Machine Learning_

---

## Sumário

1. **Importação de bibliotecas**
2. **Carregamento da base**
3. **Análise dos dataframes**
4. **Modelagem preditiva**
    - 4.1. Preparação dos dados
    - 4.2. Treinamento dos modelos com todo o histórico de dados
5. **Tunagem dos hiperparâmetros do modelo com Optuna**
6. **Salvando e testando o desempenho do modelo**
    - 6.1. Salvando o modelo (.pkl)
    - 6.2. Comparativo de resultados
7. **Testando o algoritmo XGBoost**
    - 7.1. Tunagem do modelo com Optuna
    - 7.2. Salvando e testando o desempenho do modelo
    - 7.3. Comparativo de resultados
8. **Testando o algoritmo CatBoost**
    - 8.1. Tunagem do modelo com Optuna
    - 8.2. Salvando e testando o desempenho do modelo
    - 8.3. Comparativo de resultados
9. **Teste de aplicação do Voting Ensemble**
10. **Análise da distribuição dos erros**
11. **Comparação: valores reais x valores preditos**

<br>

---

<br>

## 1. Importação de bibliotecas

In [40]:
# Importação de pacotes e definição de parâmetros globais

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
import time

from sklearn.model_selection import train_test_split

In [ ]:
# Configurações para exibição de dados no Jupyter Notebook

# Configurar opção para exibir todas as linhas do Dataframe
pd.set_option('display.max_rows', None)

# Configurar para exibir o conteúdo completo das colunas
pd.set_option('display.max_colwidth', None)

# Configurar a supressão de mensagens de aviso durante a execução
warnings.filterwarnings('ignore')

# Configurar estilo dos gráficos do Seaborn
sns.set_style('whitegrid')

## 2. Carregamento da base

In [42]:
# Efetuando a limpeza da memória antes do carregamento dos dados

print(f'\nQuantidade de objetos removidos da memória: {gc.collect()}')

Quantidade de objetos removidos da memória: 1370

In [43]:
# Criando um dataframe a partir do arquivo *.csv

df = pd.read_csv('dados/Car_Purchasing_Data_Atualizado.csv', sep=';')
df.head()

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount,debt_to_annual_salary,...,age_adjusted_income,wealth_growth_rate,financial_maturity_index,email_tld,age_range,high_income_flag,high_debt_flag,high_net_worth_flag,high_ppi_flag,financial_status_category
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,USA,0,42,62812.09301,11609.380910,238961.2505,35321.45877,0.184827,...,9692.116370,0.090581,2.717416,edu,35 to 44,0,0,0,0,Moderate
1,Harlan Barnes,eu.dolor@diam.co.uk,USA,0,41,66646.89292,9572.957136,530973.9078,45115.52566,0.143637,...,10408.495986,0.194316,5.829491,uk,35 to 44,0,0,1,1,Moderate
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradipiscing.co.uk,USA,1,43,53798.55112,11160.355060,638467.1773,42925.70921,0.207447,...,8204.202132,0.275994,8.279818,uk,35 to 44,0,0,1,1,Moderate
3,Jade Cunningham,malesuada@dignissim.com,USA,1,58,79370.03798,14426.164850,548599.0524,67422.36313,0.181758,...,10421.796563,0.119171,3.575129,com,55 to 64,1,0,1,0,High Income - Low Debt
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,USA,1,57,59729.15130,5358.712177,560304.0671,55915.46248,0.089717,...,7911.319356,0.164575,4.937235,net,55 to 64,0,0,1,0,Moderate

## 3. Preparação dos dados

### 3.1. Exibição dos metadados

In [46]:
# Função para geração de um dataframe de metadados

def generate_metadata(dataframe):
    '''
    Gera um DataFrame contendo metadados das colunas do DataFrame fornecido.

    :param dataframe: DataFrame
        DataFrame para o qual os metadados serão gerados.
    :return: DataFrame
        DataFrame contendo os metadados.
    '''
    metadata = pd.DataFrame({
        'Variável': dataframe.columns,
        'Tipo': dataframe.dtypes,
        'Qtde de nulos': dataframe.isnull().sum(),
        '% de nulos': round((dataframe.isnull().sum() / len(dataframe)) * 100, 2),
        'Cardinalidade': dataframe.nunique(),
    }).sort_values(by='Qtde de nulos', ascending=False).reset_index(drop=True)

    return metadata

In [47]:
generate_metadata(df)

,Variável,Tipo,Qtde de nulos,% de nulos,Cardinalidade
0,Customer Name,object,0,0.0,498
1,Customer e-mail,object,0,0.0,500
2,Country,object,0,0.0,1
3,Gender,int64,0,0.0,2
4,Age,int64,0,0.0,43
5,Annual Salary,float64,0,0.0,500
6,Credit Card Debt,float64,0,0.0,500
7,Net Worth,float64,0,0.0,500
8,Car Purchase Amount,float64,0,0.0,500
9,debt_to_annual_salary,float64,0,0.0,500
10,net_worth_to_annual_salary,float64,0,0.0,500
11,debt_to_net_worth,float64,0,0.0,500
12,disposable_income,float64,0,0.0,500
13,liquidity_ratio,float64,0,0.0,500
14,financial_leverage_index,float64,0,0.0,500
15,age-to-wealth_ratio,float64,0,0.0,500
16,age-to-income_ratio,float64,0,0.0,500
17,purchasing_power_index_PPI,float64,0,0.0,500
18,relative_debt_pressure_RDP,float64,0,0.0,500
19,net_asset_efficiency,float64,0,0.0,500
20,potential_purchase_capacity_PPC,float64,0,0.0,500
21,age_adjusted_income,float64,0,0.0,500
22,wealth_growth_rate,float64,0,0.0,500
23,financial_maturity_index,float64,0,0.0,500
24,email_tld,object,0,0.0,6
25,age_range,object,0,0.0,6
26,high_income_flag,int64,0,0.0,2
27,high_debt_flag,int64,0,0.0,2
28,high_net_worth_flag,int64,0,0.0,2
29,high_ppi_flag,int64,0,0.0,2
30,financial_status_category,object,0,0.0,3

### 3.2. Análise de cardinalidade

In [ ]:
# Listando todas as variáveis com cardinalidade inferior a 2

cols_constantes = [col for col in df.columns if df[col].nunique(dropna=False) < 2]
print(cols_constantes)

['Country']

### 3.3. Análise de variáveis não numéricas

In [53]:
# Listando todas as variáveis object e category

cols_text = df.select_dtypes(include=[object, 'category']).columns.tolist()
print(cols_text)

['Customer Name', 'Customer e-mail', 'Country', 'email_tld', 'age_range', 'financial_status_category']